/* Conteneur du carrousel centré */
.carousel-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    width: 100%;
    padding: 50px 0;
}

/* Carrousel */
.carousel {
    position: relative;
    max-width: 1200px; /* Augmentez la largeur maximale du carrousel */
    width: 100%;
}

/* Conteneur de chaque slide pour centrer l'image */
.carousel .slide {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 600px; /* Augmentez la hauteur fixe pour agrandir le carrousel */
    position: relative;
}

/* Les autres styles restent inchangés */
.carousel .thumbs {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
}

.carousel .thumb {
    margin: 0 5px;
    cursor: pointer;
}

.carousel .thumb img {
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
}

/* Image avec taille fixe augmentée */

.carousel .overlay {
    width: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    padding: 0.4rem 1.5rem;
    text-align: left;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

.carousel .overlay_title {
    margin: 0.8rem 0 1rem 0;
}
