* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0.5rem 0; /* Ajout d'un padding pour centrer verticalement */
}

.logo img {
  width: 100px; /* Ajustez la largeur du logo */
  height: auto; /* Maintenez le ratio d'aspect */
}

.nav {
  background-color: #1b222b;
  color: #F8EBDE;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centrer les éléments verticalement */
  gap: 2rem;
  padding: 0 1rem;
  border-bottom: 3px solid #777; /* Ajout d'une bordure grise autour de la navbar */
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center; /* Centrer les éléments verticalement */
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center; /* Centrer le texte verticalement */
  padding: 0.5rem 1rem; /* Ajoutez du padding pour améliorer l'espacement */
}

.nav li {
  display: flex;
  align-items: center; /* Centrer les éléments verticalement */
  padding: 0.5rem 0; /* Ajoutez du padding pour améliorer l'espacement */
  transition: 0.07s;
}

.nav li:hover {
  color:#bcbcbc;
  border-bottom: 3px solid #bcbcbc; 
}

